html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #cfe9ff 0%, #80bfff 100%);
}

#game-pad {
  width: 400px;
  height: 600px;
  border: 4px solid #333;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: #ccc;
  overflow: hidden;
}

#screen{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button:hover{
  background-color: #80bfff;
}

canvas {
  display: block;
  border-radius: 10px;
  border: 4px solid;
}
